<% relationship = Relationship.find_by(member_id: current_member.id, group_id: @group.id) %>
<% if relationship.is_admin == true %>
    <h1>管理者用ページ</h1>
    <div class="row">
        <div class="col-4">
            <p>作成者：<%= @creator.name %></p>
            <p>グループ名：<%= @group.name %></p>
            <p>紹介文：<%= @group.introduction %></p>
            <p>コード：<%= @group.code %></p>
            <p>パスワード：<%= @group.password %></p>
        </div>
        <div class="col-8">
            <%= image_tag @group.image.to_s %>
        </div>
    </div>
<% else %>
    <div class="row">
        <div class="col-4">
            <p><%= @group.name %></p>
            <p><%= @group.introduction %></p>
        </div>
        <div class="col-8">
            <%= image_tag @group.image.to_s %>
        </div>
    </div>
<% end %>
    