<header class="mb-4 ja-txt">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">みんスケ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav">
            <% if logged_in? %>
              <li class="nav-item"><%= link_to 'グループ作成', new_group_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'グループ参加', join_path, class: 'nav-link' %></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">作成したグループ</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% relationships = current_member.relationships %>
                  <% relationships.each do |relationship| %>
                    <% if relationship.is_admin == true %>
                      <% group = Group.find_by(id: relationship.group_id) %>
                      <%= link_to group.name, group_schedules_path(group), class: 'dropdown-item' %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">参加しているグループ</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% relationships = current_member.relationships %>
                  <% relationships.each do |relationship| %>
                    <% if !relationship.is_admin == true %>
                      <% group = Group.find_by(id: relationship.group_id) %>
                      <%= link_to group.name, group_schedules_path(group), class: 'dropdown-item' %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_member.name %></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item en-txt"><%= link_to 'Logout', logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link en-txt' %></li>
              <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link en-txt' %></li>
            <% end %>
          </ul>
        </div>
    </nav>
</header>